# SPDX-License-Identifier: MIT OR Apache-2.0
* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.jar binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.wav binary
*.mp4 binary
*.onnx binary
*.gguf binary
