<?xml version="1.0" encoding="utf-8"?>
<!-- SPDX-License-Identifier: MIT OR Apache-2.0 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <activity
            android:name="org.conceptflow.mpl.androidhost.AndroidNodeDebugControlActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay" />
        <receiver
            android:name="org.conceptflow.mpl.androidhost.LiveLinkDebugCommandReceiver"
            android:exported="true"
            android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="org.conceptflow.mpl.host.debug.INITIALIZE_LIVE_IDENTITY" />
            </intent-filter>
        </receiver>
        <provider
            android:name="org.conceptflow.mpl.androidhost.LiveLinkDebugProvisioningProvider"
            android:authorities="org.conceptflow.mpl.androidhost.debug-control"
            android:exported="true"
            android:grantUriPermissions="false"
            tools:ignore="ExportedContentProvider" />
    </application>
</manifest>
